name: CI CD PlayGround
on:
  push:
    branches: [ci/cd]
permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Prepare release keystore
        run: |
          echo "${{ vars.BASE_64_SIGNING_KEY }}" > release_keystore.jks.asc
          gpg -d --passphrase "${{ vars.BASE_64_SIGNING_KEY_PASSPHRASE }}" --batch release_keystore.jks.asc > android/app/release_keystore.jks

      - name: Verify Key Properties
        run: |
          echo "${{ vars.LOCAL_PROPERTIES }}" > android/key.properties

      - name: Verify KeyStore
        run: |
          keytool -list -keystore /Users/venkey/upload-keystore.jks -storepass venkey.dev
          keytool -list -keystore android/app/release_keystore.jks -storepass venkey.dev -alias upload          
          
      


