name: CI CD PlayGround
on:
  push:
    branches: [ci/cd]
permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: test
        run: echo "${{ vars.SAMPLE_JSON }}"
      - name: create-json
        id: create-json
        uses: jsdaniell/create-json@v1.2.3
        with:
          name: "credentials.json"
          json: ${{ secrets.SAMPLE_JSON }}
      - name: Log JSON file (safe)
        run: |
          echo "---- JSON CONTENT START ----"
          cat credentials.json
          echo "---- JSON CONTENT END ----"


