name: CI CD PlayGround
on:
  push:
    branches: [ci/cd]
permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: test
        run: echo "${{ vars.FIREBASE_ANDROID_CONFIG }}"
      - name: create-json
        id: create-json
        uses: jsdaniell/create-json@v1.2.3
        with:
          name: "google-services.json"
          json: ${{ vars.FIREBASE_ANDROID_CONFIG }}
          dir: "android/app/"
      - name: Log JSON file (safe)
        run: |
          echo "---- JSON CONTENT START ----"
          cat android/app/google-services.json
          echo "---- JSON CONTENT END ----"


