# .github/workflows/new-release-branch.yml
name: New Release

on:
  workflow_dispatch:

#  workflow_run:
#    workflows: ["Merge to Main - Branch Decision"]   # Name of the first workflow
#    types:
#      - completed


permissions:
  contents: write
  pull-requests: write

jobs:
  create-new-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Your existing setup steps (keystore, firebase json, flutter, shorebird, etc.)
      - name: Prepare firebase JSON
        uses: jsdaniell/create-json@v1.2.3
        with:
          name: "google-services.json"
          json: ${{ secrets.FIREBASE_ANDROID_CONFIG }}
          dir: "android/app/"

      - name: Prepare release keystore
        run: |
          echo "${{ secrets.BASE_64_SIGNING_KEY }}" > release_keystore.jks.asc
          gpg -d --passphrase "${{ secrets.BASE_64_SIGNING_KEY_PASSPHRASE }}" --batch release_keystore.jks.asc > android/app/upload-keystore.jks

      - name: Prepare Key Properties
        run: |
          echo "${{ secrets.LOCAL_PROPERTIES }}" > android/key.properties

      - name: Setup Flutter
        uses: subosito/flutter-action@v2.21.0
        with:
          channel: stable

      - name: Install dependencies
        run: flutter pub get

      - name: Setup Shorebird
        uses: shorebirdtech/setup-shorebird@v1

      - name: Bump version
        run: |
          dart pub bump patch
          NEW_VERSION=$(grep '^version:' pubspec.yaml | sed 's/version: //')
          # sed -i "s/^version: .*/version: $NEW_VERSION/" pubspec.yaml
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add pubspec.yaml
          git commit -m "chore: bump version to $NEW_VERSION [skip ci]"
          git tag -a "v$NEW_VERSION" -m "Release v$NEW_VERSION"
          git push origin HEAD:main --force
          git push origin "v$NEW_VERSION" --force
          echo "VERSION=$NEW_VERSION" >> $GITHUB_ENV

      - name: Shorebird Full Release
        run: shorebird release android --artifact=apk
        env:
          SHOREBIRD_TOKEN: ${{ secrets.SHOREBIRD_TOKEN }}

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1.20.0
        with:
          tag: v${{ env.VERSION }}
          name: Release v${{ env.VERSION }}
          body: "New release from branch ${{ github.ref_name }}"
          artifacts: build/app/outputs/flutter-apk/app-release.apk
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.FIREBASE_APP_ID_ANDROID }}
          token: ${{ secrets.FIREBASE_TOKEN }}
          file: build/app/outputs/flutter-apk/app-release.apk
          groups: testers